@media screen and (max-width: 8192px) {
    * {
        opacity: 0;
    }
}

@media screen and (max-width: 3120px) {
    * {
        box-sizing: border-box;
        font-family: "Plus Jakarta Sans", Times, sans-serif, serif;
        margin: 0;
        padding: 0;
        opacity: 1;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
    }

    ::-webkit-scrollbar {
        display: none !important;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-text-fill-color: #374151 !important;
        -webkit-box-shadow: 0 0 0 30px #fceede inset !important;
        transition: background-color 5000s ease-in-out 0s;
        caret-color: #374151;
        box-shadow: 0 0 0 30px #fceede inset !important;
    }

    input:autofill {
        -webkit-text-fill-color: #374151 !important;
        box-shadow: 0 0 0 30px #fceede inset !important;
    }
}

@media screen and (max-width: 324px) {
    * {
        display: none;
    }
}
